* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --svg-size: 24px;
    --color: rgb(50, 50, 50);
    --background: rgba(128, 128, 128, 0);
}


/* This is header of styling css */
#header {
    top: 0;
    z-index: 5;
    width: 100%;
    height: 72px;
    display: flex;
    position: fixed;
    align-items: center;
    background-color: black;
    justify-content: space-between;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;

}

.logo img {
    width: 50px;
    margin-left: 15px;
    object-fit: cover;
    border-radius: 100px;
}

.logo strong {
    font-size: 1.1em;
    padding-left: 10px;
    font-weight: bold;
}

.searching {
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}

.search_input {
    display: flex;
    align-items: center;

}

.search_input svg {
    left: 50px;
    width: var(--svg-size);
    position: relative;
}

.search_input input {
    width: 280px;
    height: 42px;
    font-size: 1em;
    color: white;
    font-style: italic;
    text-align: center;
    border-radius: 100px;
    transition-duration: 0.50s;
    border: 2px solid rgb(47, 47, 47);
    background-color: var(--background);

}

.search_input input:focus {
    width: 350px;
}

.Subscription {
    width: 190px;
    display: flex;
    align-items: center;
    transition-duration: 0.20s;
    justify-content: space-evenly;

}

.Subscription:hover {
    color: gray;
}

.Subscription svg {
    width: var(--svg-size);
    height: var(--svg-size);
}

.Login {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.Login_C:hover {
    color: gray;


}

.Login_C {
    display: flex;
    cursor: pointer;
    align-items: center;
    transition-duration: 0.20s;


}

.opation {
    cursor: pointer;


}

@media (max-width: 980px) {
    .Subscription {
        display: none;
    }
}

@media (max-width: 638px) {
    .Login_C {
        display: none;
    }
}

@media (max-width: 637px) {
    .searching input {
        display: none;
    }

    .searching svg {
        cursor: pointer;
    }

    .logo strong {
        font-size: 1em;
    }
}


.bttomcontorlsSecondFullVeiw {
    height: 100%;
    background-color: #21252d17;
    animation-name: animtionbottom;
}

/* The ned of styling css header */


/* This is improtan liks of heading */
.improtant_links {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.links_name {
    width: 95%;
    margin-top: 20px;
    height: fit-content;
    text-align: center;
    justify-content: space-evenly;

}

.links_name a {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.10s;
    color: rgb(165, 165, 165);

}

.links_name a:hover {
    text-decoration: underline;

}

@media (max-width: 700px) {
    .improtant_links {
        display: none;
    }
}

/* The ned of improtant if heading */


/* This is hiro of styling css */
.hero {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: fit-content;
    display: flex;
    align-items: center;

    justify-content: space-evenly;


}

@media (max-width: 600px) {
    .hero {
        margin-top: 100px;
    }
}

.hiro_images {
    width: 95%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

.hiro_images img {
    height: 50%;
    border: 2px outset white;
    width: 70%;
    animation-name: AnimationHiro1;
    animation-duration: 1s;
    animation-iteration-count: calc(1);
    margin-left: 20px;
    border-radius: 10px;

}

@keyframes AnimationHiro1 {
    0% {
        transform: translate(1100px);
    }

    100% {
        transform: translate(0);
    }

}

@keyframes AnimationHiro2 {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(-1100px);
    }

}

/* The ned of hiro of styling css */



/* This is heading of all songs of title tell user */
.Recently_Played {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 100px;

}

.title_container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;

}

.title {
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.title h1 {
    font-size: 1.50em;

}

.title p {
    width: 60px;
    height: 25px;
    margin-right: 100px;
    color: red;
    display: flex;
    align-items: center;
    border-radius: 100px;
    justify-content: center;


}

@media (max-width: 1225px) {
    .title p {
        margin-right: 10px;
        background-image:linear-gradient(rgb(211, 110, 110), rgb(212, 82, 82), rgb(192, 69, 69));

        color: white;

    }
}

.title p:hover {
    color: white;
    cursor: pointer;
    background-image:linear-gradient(rgb(211, 110, 110), rgb(212, 82, 82), rgb(192, 69, 69));
}

/* The end of heading of all songs of title tell user */

/* This is songs of the first container */
.items_of_songs {
    width: 100%;
    display: flex;
    margin-top: 50px;
    height: fit-content;
    align-items: center;
    justify-content: center;


}

.songs_continer {
    width: 90%;
    display: flex;
    overflow: scroll;
    text-align: center;


}

.songs_rel {
    margin-left: 10px;
    height: fit-content;
    width: fit-content;
    display: inline-block;

}

.container_icons {
    opacity: 0;
    display: flex;
    width: 126.22px;
    height: 126.22px;
    align-items: center;
    justify-content: center;


}

.container_icons:hover {
    opacity: 1;
    background-color: #21252d62;

}

@keyframes playcircle {
    0% {
        transform: translate(100px);

    }

    100% {
        transform: translate(0);



    }

}

.song_title {
    margin-top: 4px;
    text-align: start;


}

.song_title h1 {
    font-size: 1.20em;
    line-height: 10px;


}

.song_title p {
    color: rgb(69, 69, 69);
    font-size: 0.70em;

}

/* The end  of is all sonsg of title of bottom */


/* artist_container  of styling*/
.artist_container {
    width: 100%;
    display: flex;
    margin-top: 30px;
    align-items: center;
    height: fit-content;
    justify-content: center;

}

.artist_n_c_i {
    width: 90%;
    display: flex;
    overflow: scroll;
    text-align: center;
    height: fit-content;


}

.artist_rel {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;

}

.artist img {
    width: 126.22px;
    height: 126.22px;
    border-radius: 100px;

}

.artist_title {
    font-size: 1.20em;

}

/* The end artist_container  of styling */
@media (max-width:500px) {
    .songs_rel {
        margin: 10px;
    }

    .song_title {
        line-height: 20px;
    }

    .container_icons {
        opacity: 1;
    }

    .player img {
        top: 81px;
        left: 38px;
    }
}



/* THIS IS SETUP IMAGE FORM CSS PROPERTEIS */

.song {
    cursor: pointer;
    width: 126.22px;
    height: 126.22px;
    border-radius: 6pt;
    background-size: cover;
    background-image: url(Unstoppable\ Sia\ 128\ Kbps.png);

}

.playcircle0 {
    right: 3%;
    bottom: 15%;
    width: 80px;
    height: 80px;
    display: none;
    cursor: pointer;
    position: fixed;
    border-radius: 1000px;
    background-size: calc(58%);
    animation-duration: 0.50s;
    animation-name: playcircle;
    background-position: center;
    background-repeat: no-repeat;
    background-color: chartreuse;
    animation-iteration-count: calc(1);
    box-shadow: 2px 0px 10px 2px gray;
    background-image: url(circle-pause-regular.svg);
}

.playcirclePause0 {
    right: 3%;
    bottom: 15%;
    width: 80px;
    height: 80px;
    display: none;
    position: fixed;
    cursor: pointer;
    border-radius: 1000px;
    animation-name: playcircle;
    background-position: center;
    animation-duration: 0.50s;
    background-size: calc(58%);
    background-repeat: no-repeat;
    background-color: chartreuse;
    animation-iteration-count: calc(1);
    box-shadow: 2px 0px 10px 2px gray;
    background-image: url(circle-play-regular\ \(1\).svg);
}

.playcircle {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 100px;
    filter: drop-shadow(100px);
    background-repeat: no-repeat;
    background-color: chartreuse;
    background-image: url(circle-play-regular\ \(1\).svg);
}

/* THE EDN SETUP IMAGE FROM CSS PROPERTEIS */



/* This is about the spotify and its content */
.about_spotify {
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    height: fit-content;
    justify-content: center;
}

.box {
    width: 90%;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid gray;
}

.content1 {
    width: 90%;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content1 h1 {
    font-size: 1.40em;
    line-height: 40px;
}

.content1 p {
    font-size: 1em;
    line-height: 25px;
    color: rgb(149, 149, 149);
}

@media (max-width: 500px) {
    .content1 {
        padding-left: 20px;
    }
}

.downloading {
    width: 100%;
    display: flex;
    margin-top: 20px;
    height: fit-content;
    margin-bottom: 30px;
    justify-content: center;
}

.download {
    width: 90%;
    height: 80px;
    border: 8px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    border-radius: 8px;
    background-color: #21252d;
    justify-content: space-between;
}

.for_logo {
    width: fit-content;
    margin-left: 20px;
    line-height: 25px;
}

.apple_googleplay {
    width: 44%;
    text-align: center;
}

.apple_googleplay img {
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 844px) {
    .download {
        display: block;
        height: fit-content;
    }

    .for_logo {
        margin-top: 20px;
    }

    .apple_googleplay {
        display: flex;
    }

    .apple_googleplay img {
        padding: 5px;
        margin-left: 10px;
    }
}

/* The end of about the spotify and ist contetn */


/* THIS IS BOTTOM LANDING PAGE STYLIG CSS */
#The_footer {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    min-height: fit-content;



}

.social-icons {
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.social-icons a {
    margin: 5px;
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    border-radius: 100%;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    border: 1px solid white;
    transition-duration: 0.50s;


}

.social-icons a:hover {
    border-color: #f98167;


}

.father {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.link_follow {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-evenly;
    border-top: 2px solid #374151;
    border-bottom: 2px solid #374151;


}

.link_follow ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;


}

@media (max-width:915px) {
    .link_follow li {
        display: none;
    }

    .link_follow {
        width: 90%;
        justify-content: center;
    }


}

.link_follow li {
    padding: 10px;
    border-left: 1px solid #374151;


}

.link_follow a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

/* THE END BOTTOM LANDING PAGE STYLING CSS */


/* THIS IS HIDDEN CODE OF STYLING CSS PROPERTEIS */
.sidebar {
    top: 0;
    right: 0;
    width: 20%;
    z-index: 6;
    height: 100%;
    display: none;
    position: fixed;
    animation-name: sidebar;
    animation-duration: 0.50s;
    background-color: #21252d;

}

@keyframes sidebar {
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}

@media (max-width:499px) {
    @keyframes animationsecond {
        0% {
            width: 0;
        }

        100% {
            width: 60%;
        }
    }

    .sidebar {
        width: 60%;
        animation-name: animationsecond;
    }
}

.over {
    top: 0;
    width: 100%;
    z-index: 5;
    height: 100%;
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.136);
}

.improtant_links_side {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: center;
}

.links_name_side {
    width: 90%;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.links_name_side a {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.10s;
    color: rgb(165, 165, 165);
    border-bottom: 1px solid gray;

}

.links_name_side a:hover {
    text-decoration: underline;

}

/* THE END HIDDEN CODE OF STYLING CSS PROPERTEIS */






/* This is searcinner code of styling css */
.searchhome {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    background-color: black;
    animation-name: searchhome;
    display: none;
    animation-duration: 0.50s;
    animation-iteration-count: calc(1);
}

@keyframes searchhome {
    0% {
        height: 0;
        background-color: wheat;
    }

    100% {
        height: 100%;
    }

}

.heading_in {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: #000000;

}

.back {
    width: 20%;
    height: 50px;
    font-size: 2.50em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;



}

#back {
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    padding-left: 2%;
    justify-content: center;

}

#back:hover {
    background-color: rgb(68 71 79);
}

.search_inputin {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: safe;


}

.search_inputin svg {
    left: 50px;
    width: var(--svg-size);
    position: relative;
}

.search_inputin input {
    width: 80%;
    height: 42px;
    font-size: 1em;
    color: white;
    font-style: italic;
    padding-left: 5%;
    border-radius: 2px;
    transition-duration: 0.50s;
    border: 2px solid rgb(47, 47, 47);
    background-color: var(--background);

}

@media (max-width: 1087px) {
    .search_inputin input {
        padding-left: 20%;
    }
}

.search_inputin input:focus {
    width: 90%;
}

/* This is output of title */
.title {
    width: 100%;
    height: fit-content;
}

.title h1 {
    padding-left: 3%;
}

/* The end output of title */


/* This is uotput of songs itme and ist content */
.outputitems {
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

.itemin_one {
    width: 95%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: fit-content;
    margin-top: 20px;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px double #21252d;
}


.element1 {
    width: fit-content;
    text-align: start;

}

.element1 img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 100px;

}

.element2 {
    width: 80%;
    font-size: 1.20em;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

#animation {
    display: none;
    float: right;
    width: 30px;
}

.element3 {
    width: 10%;
    text-align: end;
}

.element3 strong {
    font-size: 2.50em;
    cursor: pointer;
    padding-right: 5%;

}

.empty {
    top: 50%;
    left: 30%;
    right: 30%;
    color: #252525;
    position: fixed;
    display: none;
    font-family: sans-serif;
}

/* The end output of songs items */

/* This is more butto of styling page of css */
.MorePage {
    width: 100%;
    display: none;


}

.mainForMorePages {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

}

.leftbarMorePages {
    width: 23%;
    display: flex;
    height: fit-content;
    align-items: center;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;



}

.artistAlbumContainer {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.artistAlbumContainer img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px;
}

.moreArtistGetAccesses {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.HeadignMoroArtist {
    width: 100%;
    margin-left: 8%;
    margin-top: 50px;
    font-size: 1.2em;
    margin-bottom: 40px;

}

.artistOneGetIt {
    width: 90%;
    display: flex;
    margin: 0 auto 20px;
    align-items: center;

}

.artistOneGetIt img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100px;
    border-radius: 100px;
}

.artistOneGetIt strong {
    padding-left: 15px;
}

.songsDetsilaConatiner {
    width: 65%;
    margin-left: 50px;
    margin-top: 150px;

}

.headingSimpleSomeFsatAccessable {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playButtonContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#playInMoreButton {
    width: 150px;
    height: 45px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.10em;
    border-radius: 30px;
    background: linear-gradient(380deg, #f9175a, #fa7773);
}

#Follow {
    width: 150px;
    height: 45px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.10em;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid rgb(221, 221, 221);
}

#Follow:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.downloadAndThreeDotConatiner {
    width: 50%;
    display: flex;
    justify-content: end;



}

.downloadeOptions {
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: 10px;
    font-size: 1.40em;
    border-radius: 100px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
}

.downloadeOptions svg {
    width: 25px;
    height: 25px;
}

.moreDotIcons {
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: 10px;
    font-size: 1.40em;
    border-radius: 100px;
    margin-right: 10%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
}

.moreDotIcons svg {
    width: 25px;
    height: 25px;
}

.songsaddedConatiner {
    width: 100%;
    margin-top: 150px;
}

.songsaddedConatiner ol {
    width: 100%;
}

.songsaddedConatiner ol li {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 2px;
    cursor: pointer;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    border: 1px solid #2b323700;

}

.songsaddedConatiner ol li:hover {
    border: 1px solid #2b3237;

}

#Number {
    width: 5%;

}

.imageOfSongsContainer {
    width: 7%;
    height: 55px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-image: url(Tere\ Mast\ Mast\ Do\ Nain\ Dabangg\ 128\ Kbps.png);
    background-size: cover;
}

.innerAnimtionGif {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.innerAnimtionGif:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.227), rgba(0, 0, 0, 0.574));

}



.artistsNameInLists {
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;

}

.artistsNameInLists p {
    margin-left: 8px;
}

.aboutsongs {
    width: 35%;
    font-size: 90%;
    color: #b3b3b3;
    font-family: fantasy;



}

.durationOrTimingOfSongs {
    width: 23%;
    color: #b3b3b3;
    text-align: center;


}

.donwloadeAndMoreOptionsContainer {
    width: 15%;
    display: flex;
    justify-content: space-evenly;

}

.donwloadeAndMoreOptionsContainer svg {
    width: 25px;
    height: 35px;
}

@media (max-width: 1000px) {
    .mainForMorePages {
        width: 100%;
        margin: 0 auto;
        align-items: center;
        flex-direction: column;

    }

    #WhichSngsisPlaying {
        width: fit-content;
        margin-left: 12px;
        font-size: 1.50em;
        text-align: start;
    }

    #ArtistNameINheading {
        width: fit-content;
        margin-left: 12px;
        margin-top: -10px;
    }

    .leftbarMorePages {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 130px;


    }

    .headingSimpleSomeFsatAccessable {
        width: 100%;
        align-items: end;
        flex-direction: column;

    }

    .playButtonContainer {
        width: 90%;

    }

    .artistAlbumContainer {
        width: 95%;
        margin: 0;
        padding: 0;


    }

    .artistAlbumContainer img {
        width: 100%;
        border: 2px solid white;
    }

    .downloadAndThreeDotConatiner {
        width: 90%;
        margin-top: 20px;

    }


    .moreArtistGetAccesses {
        display: none;
    }

    .songsDetsilaConatiner {
        width: 100%;
        height: fit-content;
        margin: 0 auto;


    }

    .songsaddedConatiner ol li {
        width: 94%;

        align-items: center;
        /* flex-wrap: nowrap; */

    }

    #Number {
        width: 20px;
        margin-right: 10px;
    }

    .imageOfSongsContainer {
        width: 80px;
    }

    .donwloadeAndMoreOptionsContainer {
        display: none;
    }

    .durationOrTimingOfSongs {
        width: fit-content;

    }

    .artistsNameInLists {
        width: 40%;
    }

    .SongsNmaeInMore {
        display: none;
    }

    .aboutsongs {
        margin-left: 8px;
    }
}


.bottomContainerToPlayingSongs {
    position: fixed;
    height: 70px;
    background-color: #21252d;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
}

.bottomContainerToPlayingSongs input {
    width: 90%;
    cursor: pointer;
    margin-top: 20px;
}

.threeMaterPlayer {
    width: 120px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.backwordPlay {
    width: 27px;
    height: 40px;
    cursor: pointer;
    background-size: cover;
    background-image: url(backward-step-solid.svg);
}

.playCircleOnly {
    width: 30px;
    height: 42px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(play-solid.svg);
}

.ForWordPlay {
    width: 27px;
    height: 40px;
    cursor: pointer;
    background-size: cover;
    /* background-color: chartreuse; */
    background-image: url(forward-step-solid.svg);
}


.backwordPlayMain {
    width: 27px;
    height: 40px;
    cursor: pointer;
    background-size: cover;
    background-image: url(backward-step-solid.svg);
}

.playCircleOnlyMain {
    width: 30px;
    height: 42px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(play-solid.svg);
}

.pauseCircleOnlyMain {
    width: 30px;
    height: 42px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(pause-solid.svg);
}

.ForWordPlayMain {
    width: 27px;
    height: 40px;
    cursor: pointer;
    background-size: cover;
    background-image: url(forward-step-solid.svg);
}

.infoSongs {
    left: 5%;
    width: 40%;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;

}

.FooterImageOfSong {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-left: 10px;
    border-radius: 100px;
}

.contetnaboutit {
    width: fit-content;
}

#WhichsongsIsPlyedNow {
    color: #8a8a8a;

}

@media (max-width: 500px) {
    .contetnaboutit {
        display: none;

    }

    .addclassAboutIt {
        display: flex;
        width: 90%;
        margin: 0 auto;
        font-size: 1.50em;
        line-height: 35px;
        padding-bottom: 15px;
        flex-direction: column;
        border-bottom: 1px solid rgb(69, 69, 69);
    }

}

/* The end more button of styling page of css */

@keyframes kakd {
    0% {
        transform: rotatex(0);
    }

    100% {
        transform: rotatex(360deg);
        ;
        /* color: chocolate; */

    }
}

@keyframes animtionbottom {
    0% {
        height: 0;
    }

    100% {
        height: 100vh;


    }

}

@keyframes textanimation {
    0% {
        transform: translatex(350px);
    }

    100% {
        transform: translatex(-200px);

    }
}

.songsTimingToUsers {
    right: 0%;
    width: 40%;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;

}

.innerTiming {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 500px) {

    #durationDisplay {
        display: none;
    }
}


/* This is Login page of styling from hrer */

#LoginPgaeContainerFisrt {
    top: 0;
    left: 0;
    z-index: 19;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #00000068;
}

.LoginPageContainerSecond {
    width: 700px;
    height: 400px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    z-index: 100;
    animation: animtionLogin 0.50s calc(1);
    background-color: #21252d;
}

.ImageForLoginPage {
    width: 50%;
    animation: ANMTIONl 2s calc(1);
    height: 100%;

}

.ImageForLoginPage img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    object-fit: cover;
}

.FormForLoginPageConatainer {
    width: 50%;
    animation: ANMTIONl 2s calc(1);



}

.FormForLoginPageConatainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.FormForLoginPageConatainer form label {
    background-color: #000000;
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 2em;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: 4px;

}

.FormForLoginPageConatainer form label input {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    background-color: #000000;
}

input[type="submit"] {
    width: 100px;
    height: 35px;
    color: white;
    color: black;
    font-size: 18px;
    position: relative;
    top: 140px;
    left: 100px;
    cursor: pointer;
}

#LoginClose {
    bottom: 175px;
    cursor: pointer;
    left: 320px;
    font-size: 2.50em;
    position: relative;
    animation: ANMTIONl 2s calc(1);
}

@keyframes animtionLogin {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        width: 700px;
        height: 400px;
    }
}
@keyframes ANMTIONl {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 800px) {
    .LoginPageContainerSecond {
        width: 90%;
        flex-direction: column;
    }
    .ImageForLoginPage {
        width: 100%;
    }
    .ImageForLoginPage img {
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
    }
    .FormForLoginPageConatainerv {
        width: 100%;
        height: 400px;
        background-color: rebeccapurple;
    }
    .FormForLoginPageConatainer form {
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;

    }
    .FormForLoginPageConatainer form label {
        width: 100%;

    }
    input[type="submit"] {
        top: 0px;
        left:0px;
    }
}

/* The end Login page of styling from here */

